@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}


.container-blue {
    background-color: #1F2937;
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.container-grey {
    background-color: #e5e7EB;

}

.inside {
    width: 75%;
    margin: auto;
}

header {

    background-color: #1F2937;
    color: white;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1em;
}

header>ul>li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
}

header>ul>li>a {
    color: white;
    text-decoration: none;
    margin: 10px;

}

.hero {

    display: flex;
    background-color: #1F2937;
    color: white;
    padding-top: 8em;
    padding-bottom: 8em;

}

.herotext {
    width: 50%;
}

.herotext h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}

.herotext h3 {
    color: #E5E7EB;
    font-size: 18px;
}

.herotext button {
    background-color: #3882F6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}


.about {
    text-align: center;
    padding-top:10px;
    padding-bottom:150px;
}

.about h1 {
    padding: 1em;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.card {
    width: 200px;
    display: flex;
    flex-flow: column;

}

.card>img {
    width: 200px;
    height: 200px;
    border-radius: 7%;
    border: solid 3px #3882F6;
}

.caption {
    font-size: 16px;
    font-weight: lighter;
    margin: 10px;
}

.quote {
    padding: 10em;
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.quoteText {
    font-weight: lighter;
    font-style: italic;
}
.quote h4{
align-self: flex-end;
}